html, body{
	height: 100%;
	width: 100%;
	color: gray;
}
div{
	text-align: center;
	margin: 0 auto;
}

#count{
	/*background-color: blue; 
	color: white;*/
	height: 15%;
}

#up{
	/*background-color: green; 
	color: white;*/
	height: 30%;
}

#down{
	/*background-color: red; 
	color: white;*/
	height: 30%;
}
#reservations{
	height: 25%;
}
table{
	text-align: center;
	min-height: 100%;
    height: 100%;
}
